<section>
    <article id="game-rules">
        <h2>Règles du jeu</h2>
        <p>Le but du jeu est de sortir toutes les cartes du tableau.</p>
        <p>Pour sortir des cartes, il faut faire des paires dont la somme est égale à 14.</p>
        <p>Les cartes ont la valeur suivante:</p>
        <ul>
            <li>As = 1</li>
            <li>Valet = 11</li>
            <li>Dame = 12</li>
            <li>Roi = 13</li>
        </ul>
        <p>Les autres valent leur valeur indiquées (le 3 vaut 3, ...).</p>
    </article>
    
    <article id="start-game">
        <h2>Jouer au jeu</h2>
        <a id="start-game" title="Lancer une partie" [routerLink]="['/game']">Jouer</a>
        <h3>Crédits :</h3>
    </article>
</section>