header {
    width: 100%;
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #E3B23C;
}

header h1 a {
    margin-left: 15px;

    color: white;
    font-size: 50px;
    text-decoration: none;
}

header #language a {
    margin-right: 15px;

    color: white;
    text-decoration: none;
}

header #language a:hover {
    text-decoration: underline white;
}